@import url("https://fonts.googleapis.com/css2?family=Balsamiq+Sans&family=Darker+Grotesque&family=Fredericka+the+Great&family=Secular+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Balsamiq+Sans&family=Darker+Grotesque&family=Fredericka+the+Great&family=Secular+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Balsamiq+Sans&family=Darker+Grotesque&family=Fredericka+the+Great&family=Secular+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Balsamiq+Sans&family=Darker+Grotesque&family=Fredericka+the+Great&family=Secular+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Balsamiq+Sans&family=Darker+Grotesque&family=Fredericka+the+Great&family=Secular+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Balsamiq+Sans&family=Darker+Grotesque&family=Fredericka+the+Great&family=Secular+One&display=swap");
.circular-space {
  position: relative;
  width: 500px;
  height: 420px;
  margin: auto;
  margin-top: 22%;
  margin-right: 15%;
  border-radius: 50%;
  background: #ACECD5;
  overflow: hidden;
  -webkit-animation: backInLeft 1s;
          animation: backInLeft 1s;
  -webkit-box-shadow: 0 5px 20px rgba(255, 255, 255, 0.5);
          box-shadow: 0 5px 20px rgba(255, 255, 255, 0.5);
}

.table {
  position: absolute;
  width: 100%;
  height: 20%;
  top: 85%;
  border-radius: 50px;
  background: -webkit-gradient(linear, left top, right top, from(#d49987), to(#7c5a5a));
  background: linear-gradient(90deg, #d49987 0%, #7c5a5a 100%);
  -webkit-animation: backInUp 5.3s forwards;
          animation: backInUp 5.3s forwards;
}

.wall {
  position: absolute;
  width: 100%;
  height: 58%;
  z-index: 1;
  background: none;
  top: -1%;
  overflow: hidden;
}

.brick {
  position: absolute;
  width: 18%;
  height: 8%;
  z-index: 2;
  border-radius: 5px;
  background: #8d93ab;
}

.one {
  top: 10%;
  left: 19%;
  -webkit-animation: backInDown 2s forwards;
          animation: backInDown 2s forwards;
}

.two {
  top: 10%;
  left: 39%;
  -webkit-animation: backInDown 2s forwards;
          animation: backInDown 2s forwards;
}

.three {
  top: 10%;
  left: 59%;
  -webkit-animation: backInDown 2s forwards;
          animation: backInDown 2s forwards;
}

.four {
  top: 20%;
  left: 9%;
  -webkit-animation: backInDown 2.5s forwards;
          animation: backInDown 2.5s forwards;
}

.five {
  top: 20%;
  left: 29%;
  -webkit-animation: backInDown 2.5s forwards;
          animation: backInDown 2.5s forwards;
}

.six {
  top: 20%;
  left: 49%;
  -webkit-animation: backInDown 2.5s forwards;
          animation: backInDown 2.5s forwards;
}

.seven {
  top: 20%;
  left: 69%;
  -webkit-animation: backInDown 2.5s forwards;
          animation: backInDown 2.5s forwards;
}

.eight {
  top: 30%;
  left: -1%;
  -webkit-animation: backInDown 3s forwards;
          animation: backInDown 3s forwards;
}

.nine {
  top: 30%;
  left: 19%;
  -webkit-animation: backInDown 3s forwards;
          animation: backInDown 3s forwards;
}

.ten {
  top: 30%;
  left: 39%;
  -webkit-animation: backInDown 3s forwards;
          animation: backInDown 3s forwards;
}

.eleven {
  top: 30%;
  left: 59%;
  -webkit-animation: backInDown 3s forwards;
          animation: backInDown 3s forwards;
}

.twelve {
  top: 30%;
  left: 79%;
  -webkit-animation: backInDown 3s forwards;
          animation: backInDown 3s forwards;
}

.thirteen {
  top: 40%;
  left: 9%;
  -webkit-animation: backInDown 3.5s forwards;
          animation: backInDown 3.5s forwards;
}

.fourteen {
  top: 40%;
  left: 29%;
  -webkit-animation: backInDown 3.5s forwards;
          animation: backInDown 3.5s forwards;
}

.fifteen {
  top: 40%;
  left: 49%;
  -webkit-animation: backInDown 3.5s forwards;
          animation: backInDown 3.5s forwards;
}

.sixteen {
  top: 40%;
  left: 69%;
  -webkit-animation: backInDown 3.5s forwards;
          animation: backInDown 3.5s forwards;
}

.seventeen {
  top: 50%;
  left: -1%;
  -webkit-animation: backInDown 4s forwards;
          animation: backInDown 4s forwards;
}

.eighteen {
  top: 50%;
  left: 19%;
  -webkit-animation: backInDown 4s forwards;
          animation: backInDown 4s forwards;
}

.nineteen {
  top: 50%;
  left: 39%;
  -webkit-animation: backInDown 4s forwards;
          animation: backInDown 4s forwards;
}

.twenty {
  top: 50%;
  left: 59%;
  -webkit-animation: backInDown 4s forwards;
          animation: backInDown 4s forwards;
}

.twentyone {
  top: 50%;
  left: 79%;
  -webkit-animation: backInDown 4s forwards;
          animation: backInDown 4s forwards;
}

.twentytwo {
  top: 60%;
  left: 9%;
  -webkit-animation: backInDown 4.5s forwards;
          animation: backInDown 4.5s forwards;
}

.twentythree {
  top: 60%;
  left: 29%;
  -webkit-animation: backInDown 4.5s forwards;
          animation: backInDown 4.5s forwards;
}

.twentyfour {
  top: 60%;
  left: 49%;
  -webkit-animation: backInDown 4.5s forwards;
          animation: backInDown 4.5s forwards;
}

.twentyfive {
  top: 60%;
  left: 69%;
  -webkit-animation: backInDown 4.5s forwards;
          animation: backInDown 4.5s forwards;
}

.twentysix {
  top: 60%;
  left: 89%;
  -webkit-animation: backInDown 4.5s forwards;
          animation: backInDown 4.5s forwards;
}

.twentyseven {
  top: 70%;
  left: -1%;
  -webkit-animation: backInDown 5s forwards;
          animation: backInDown 5s forwards;
}

.twentyeight {
  top: 70%;
  left: 19%;
  -webkit-animation: backInDown 5s forwards;
          animation: backInDown 5s forwards;
}

.twentynine {
  top: 70%;
  left: 39%;
  -webkit-animation: backInDown 5s forwards;
          animation: backInDown 5s forwards;
}

.thirty {
  top: 70%;
  left: 59%;
  -webkit-animation: backInDown 5s forwards;
          animation: backInDown 5s forwards;
}

.thirtyone {
  top: 70%;
  left: 79%;
  -webkit-animation: backInDown 5s forwards;
          animation: backInDown 5s forwards;
}

.hang {
  position: absolute;
  width: 1%;
  height: 30%;
  z-index: 4;
  background: #222831;
  top: 1%;
  left: 20%;
  -webkit-animation: fadeInDown 3s forwards;
          animation: fadeInDown 3s forwards;
}

.bulb {
  position: absolute;
  width: 6.5%;
  height: 10%;
  z-index: 4;
  background: #E0BBE4;
  border: 3px solid #222831;
  border-radius: 50% 50% 5px 5px;
  top: 30%;
  left: 16.8%;
  -webkit-animation: fadeInDown 3s forwards;
          animation: fadeInDown 3s forwards;
}

.light {
  position: absolute;
  width: 150%;
  height: 250%;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(224, 205, 169, 0)), to(#e0cda9));
  background: linear-gradient(360deg, rgba(224, 205, 169, 0) 0%, #e0cda9 100%);
  top: 107%;
  z-index: 4;
  left: -25%;
  -webkit-clip-path: polygon(20% 0%, 80% 0%, 100% 100%, 0% 100%);
          clip-path: polygon(20% 0%, 80% 0%, 100% 100%, 0% 100%);
  -webkit-animation: fadeInDown 3s forwards;
          animation: fadeInDown 3s forwards;
}

.poster {
  position: absolute;
  width: 15%;
  height: 23%;
  z-index: 3;
  top: 30%;
  left: 77%;
  background: url("https://i.pinimg.com/originals/27/5b/51/275b51faf0c827c8d0fc8553b8485b85.jpg");
  background-position: center;
  background-origin: fill;
  background-repeat: no-repeat;
  background-size: 100px 200px;
  border-radius: 5px;
  border: 5px solid #222831;
  -webkit-animation: rotateIn
 2s forwards;
          animation: rotateIn
 2s forwards;
}

.laptop {
  position: absolute;
  width: 25%;
  height: 20%;
  border-radius: 10px;
  border: 1.5px solid #000;
  background: #FFB7B2;
  top: 62%;
  left: 35%;
  z-index: 4;
  -webkit-animation: slideInUp
 2.2s forwards;
          animation: slideInUp
 2.2s forwards;
}

.laptop:after {
  position: absolute;
  content: '';
  width: 60%;
  height: 100%;
  border-radius: 10px 0 0 10px;
  background: #FFDDDD;
  left: 0.2%;
  -webkit-clip-path: polygon(0 0, 100% 0%, 75% 100%, 0% 100%);
          clip-path: polygon(0 0, 100% 0%, 75% 100%, 0% 100%);
}

.laptop-stand {
  position: absolute;
  width: 100%;
  height: 10%;
  border-radius: 10px;
  border: 1.5px solid #000;
  background: #FFB7B2;
  top: 100%;
  left: 0.2%;
  z-index: 4;
  -webkit-animation: slideInUp
 2.2s forwards;
          animation: slideInUp
 2.2s forwards;
}

.laptop-stand:after {
  position: absolute;
  content: '';
  width: 45.5%;
  height: 100%;
  border-radius: 10px 0 0 10px;
  background: #FFDDDD;
  left: 0.2%;
  -webkit-clip-path: polygon(0 0, 100% 0%, 75% 100%, 0% 100%);
          clip-path: polygon(0 0, 100% 0%, 75% 100%, 0% 100%);
}

.logo {
  position: absolute;
  width: 10%;
  height: 15%;
  z-index: 4;
  border-radius: 50px;
  background: #222831;
  top: 49%;
  left: 46%;
}

.cup {
  position: absolute;
  width: 8%;
  height: 12%;
  border-radius: 5px;
  background: #f1f1f6;
  -webkit-clip-path: polygon(20% 0%, 80% 0%, 100% 100%, 0% 100%);
          clip-path: polygon(20% 0%, 80% 0%, 100% 100%, 0% 100%);
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  top: 73%;
  left: 15%;
  z-index: 3;
  -webkit-animation: zoomInUp
 2.5s forwards;
          animation: zoomInUp
 2.5s forwards;
}

.cup:after {
  position: absolute;
  content: '';
  width: 45.5%;
  height: 100%;
  border-radius: 0 0 5px 0;
  background: #f4f3f3;
  left: 53.9%;
  -webkit-clip-path: polygon(20% 0%, 80% 0%, 100% 100%, 0% 100%);
          clip-path: polygon(20% 0%, 80% 0%, 100% 100%, 0% 100%);
}

.cup-cover {
  position: absolute;
  width: 200%;
  height: 40%;
  z-index: 3;
  background: #caabd8;
  bottom: 40%;
  left: 0%;
}

.cup-top-cover {
  position: absolute;
  width: 9%;
  height: 2.5%;
  z-index: 3;
  border-radius: 2px;
  background: #caabd8;
  top: 71%;
  left: 14.5%;
  -webkit-animation: zoomInUp
 2.5s forwards;
          animation: zoomInUp
 2.5s forwards;
}

.cup-top-bump {
  position: absolute;
  width: 5%;
  height: 2%;
  z-index: 3;
  border-radius: 3px 3px 0 0;
  background: #caabd8;
  top: 69.3%;
  left: 16.5%;
  -webkit-animation: zoomInUp
 2.5s forwards;
          animation: zoomInUp
 2.5s forwards;
}

.me {
  position: absolute;
  width: 50%;
  height: 60%;
  top: 25%;
  left: 23%;
  background: none;
  z-index: 3;
  -webkit-animation: slideInDown
 4.5s forwards;
          animation: slideInDown
 4.5s forwards;
}

.face {
  position: absolute;
  width: 36%;
  height: 32%;
  top: 8%;
  left: 31%;
  z-index: 3;
  border-radius: 20% 20% 50% 50%;
  background: #f1c27d;
}

.hair {
  position: absolute;
  width: 42%;
  height: 40%;
  z-index: 2;
  left: 28%;
  top: -6%;
  background: #17202A;
  border-radius: 50%;
}

.band {
  position: absolute;
  width: 27%;
  height: 5%;
  background: #cf3416;
  border-radius: 20px;
  left: 35.5%;
  z-index: 3;
  top: -4.3%;
}

.bun {
  position: absolute;
  width: 42%;
  height: 30%;
  background: #17202A;
  border-radius: 50% 50% 45% 45%;
  left: 28%;
  z-index: 2;
  top: -32%;
  overflow: hidden;
}

.flix {
  position: absolute;
  top: 3%;
  z-index: 5;
  -webkit-transform: rotate(22deg);
          transform: rotate(22deg);
  background: #17202A;
  border-radius: 10px 50px;
}

.one-f {
  width: 15%;
  height: 8%;
  left: 48%;
}

.two-f {
  width: 10%;
  height: 8%;
  left: 40%;
}

.specs {
  position: absolute;
  width: 30%;
  height: 30%;
  border: 3px solid #17202A;
  border-radius: 40% 40% 50% 50%;
}

.left {
  top: 20%;
  left: 10%;
}

.right {
  top: 20%;
  right: 10%;
}

.specs-handle {
  position: absolute;
  width: 20%;
  height: 0.5%;
  top: 23%;
  left: 40%;
  border-top: 3px solid #17202A;
}

.eyes {
  position: absolute;
  width: 15%;
  height: 15%;
  border-radius: 50%;
  border-top: 2px solid #000;
}

.left-e {
  top: 33%;
  left: 20%;
}

.right-e {
  top: 33%;
  right: 20%;
}

.mouth {
  position: absolute;
  width: 28%;
  height: 20%;
  top: 60%;
  left: 36.5%;
  background: #1C2833;
  border-radius: 2px 2px 50px 50px;
  overflow: hidden;
}

.mouth:after {
  position: absolute;
  content: '';
  width: 100%;
  height: 50%;
  top: 52%;
  border-radius: 50%;
  background: #e76a6a;
}

.cheeks-left {
  position: absolute;
  width: 15%;
  height: 15%;
  border-radius: 50%;
  background: #ff9595;
  top: 48%;
  left: 20%;
}

.cheeks-right {
  position: absolute;
  width: 15%;
  height: 15%;
  border-radius: 50%;
  background: #ff9595;
  top: 48%;
  right: 20%;
}

.neck {
  position: absolute;
  width: 10%;
  height: 15%;
  z-index: 3;
  border-radius: 50px;
  background: #f1c27d;
  top: 34%;
  left: 44%;
}

.top {
  position: absolute;
  width: 52.5%;
  height: 50%;
  z-index: 2;
  top: 45%;
  left: 23.6%;
  background: #e94560;
  border-radius: 30% 30% 10% 10%;
}

.sleeve {
  position: absolute;
  width: 25.9%;
  height: 15%;
  z-index: 2;
  background: #e94560;
  top: 55%;
}

.left-sleeve {
  border-radius: 8px 0 0 8px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  left: 13%;
}

.right-sleeve {
  border-radius: 0 8px 8px 0;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  right: 13%;
}

.hand {
  position: absolute;
  height: 10%;
  background: #f1c27d;
  top: 68%;
}

.left-hand {
  width: 20%;
  border-radius: 10px 0 0 10px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  left: 5%;
}

.right-hand {
  width: 22%;
  border-radius: 0 10px 10px 0;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  right: 5%;
}

.arm {
  position: absolute;
  width: 26.8%;
  height: 10%;
  z-index: 3;
  background: #f1c27d;
  -webkit-clip-path: polygon(0 0, 100% 23%, 100% 78%, 0% 100%);
          clip-path: polygon(0 0, 100% 23%, 100% 78%, 0% 100%);
}

.left-arm {
  top: 78.7%;
  border-radius: 10px 0 0 10px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  left: 5%;
}

.right-arm {
  top: 79.7%;
  border-radius: 20px 10px 10px 0;
  -webkit-transform: rotate(132deg);
          transform: rotate(132deg);
  right: 5%;
}

.headphone {
  position: absolute;
  width: 4.5%;
  height: 17%;
  top: 13%;
  z-index: 3;
  background: #A1C9F1;
  border-radius: 10px;
}

.left-h {
  left: 23.3%;
  border-left: 9px solid #17202A;
}

.right-h {
  right: 24.9%;
  border-right: 9px solid #17202A;
}

.left-c {
  position: absolute;
  width: 60%;
  height: 50%;
  top: 25%;
  z-index: 3;
  border-radius: 50px 0 0 50px;
  background: #A1C9F1;
  left: -140%;
}

.right-c {
  position: absolute;
  width: 60%;
  height: 50%;
  top: 25%;
  z-index: 3;
  border-radius: 0 50px 50px 0;
  background: #A1C9F1;
  right: -140%;
}

.headphone-band {
  position: absolute;
  width: 45%;
  height: 40%;
  border-radius: 50%;
  border-top: 7.3px solid #A1C9F1;
  z-index: 5;
  top: -2%;
  left: 26.5%;
}

.notebook {
  position: absolute;
  width: 20%;
  height: 4.7%;
  background: #FF9AA2;
  top: 79.5%;
  right: 12%;
  border-radius: 20px 5px 5px 20px;
  border: 1.5px solid #000;
  -webkit-animation: lightSpeedInRight
 3s forwards;
          animation: lightSpeedInRight
 3s forwards;
}

.mobile {
  position: absolute;
  width: 10%;
  height: 2%;
  background: -webkit-gradient(linear, left top, right top, from(#d6e0f0), to(#8d93aa));
  background: linear-gradient(90deg, #d6e0f0 0%, #8d93aa 100%);
  top: 77%;
  right: 18%;
  border-radius: 10px 10px 20px 20px;
  border: 1px solid #000;
  -webkit-animation: lightSpeedInRight
 3s forwards;
          animation: lightSpeedInRight
 3s forwards;
}

.small-circle {
  position: absolute;
  width: 5%;
  height: 35%;
  border-radius: 50px;
  background: #000;
  right: 20%;
  top: 30%;
}

.about-header {
  position: relative;
  top: 30%;
  width: 400px;
  height: 230px;
  margin: auto;
  background: none;
  letter-spacing: 8px;
}

.about-header:before {
  position: absolute;
  content: 'About Me';
  font-family: Impact, sans-serif;
  font-size: 6rem;
  top: 25%;
  left: -10%;
  z-index: 4;
  color: #e94560;
  -webkit-text-stroke-width: 2.2px;
  -webkit-text-stroke-color: #FFDDDD;
  -webkit-animation: arrowone 1s ease infinite alternate;
          animation: arrowone 1s ease infinite alternate;
}

.about-header:after {
  position: absolute;
  content: 'About Me';
  font-family: Impact, sans-serif;
  font-size: 6rem;
  top: 20%;
  left: -10%;
  color: #e94560;
  z-index: 3;
  color: #FFB7B2;
  -webkit-text-stroke-width: 2.2px;
  -webkit-text-stroke-color: #FFDDDD;
  -webkit-animation: arrowone 2s ease infinite alternate;
          animation: arrowone 2s ease infinite alternate;
}

.about-hr-layer:before {
  position: absolute;
  content: 'About Me';
  font-family: Impact, sans-serif;
  font-size: 6rem;
  top: 15%;
  left: -10%;
  z-index: 2;
  opacity: 0.8;
  color: #E0BBE4;
  -webkit-text-stroke-width: 2.2px;
  -webkit-text-stroke-color: #FFDDDD;
  -webkit-animation: arrowone 3s ease infinite alternate;
          animation: arrowone 3s ease infinite alternate;
}

.about-hr-layer:after {
  position: absolute;
  content: 'About Me';
  font-family: Impact, sans-serif;
  font-size: 6rem;
  top: 10%;
  left: -10%;
  z-index: 1;
  opacity: 0.8;
  color: #ACECD5;
  -webkit-text-stroke-width: 2.2px;
  -webkit-text-stroke-color: #FFDDDD;
  -webkit-animation: arrowone 4s ease infinite alternate;
          animation: arrowone 4s ease infinite alternate;
}

@-webkit-keyframes arrowone {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  50% {
    -webkit-transform: translateY(-120px);
            transform: translateY(-120px);
  }
  100% {
    -webkit-transform: translateY(120px);
            transform: translateY(120px);
  }
}

@keyframes arrowone {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  50% {
    -webkit-transform: translateY(-120px);
            transform: translateY(-120px);
  }
  100% {
    -webkit-transform: translateY(120px);
            transform: translateY(120px);
  }
}

.container-about {
  width: 100vw;
  height: 100vh;
  background: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.container-about .left-about {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.container-about .right-about {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.intro {
  position: relative;
  width: 90%;
  height: 50%;
  top: 15%;
  margin-left: -5%;
  margin-right: 5%;
}

.intro p {
  margin-top: 0;
  color: #ECF0F1;
  font-size: 1.2rem;
  font-weight: 550;
  font-family: "Darker Grotesque", sans-serif;
}

.skills {
  font-size: 55px;
  color: #FF9AA2;
}

.fa-html5:hover,
.fa-css3-alt:hover,
.fa-js-square:hover,
.fa-git-alt:hover,
.fa-node:hover,
.fa-sass:hover,
.fa-bootstrap:hover {
  -webkit-transform: scale(1.3) rotate(10deg);
          transform: scale(1.3) rotate(10deg);
  color: #A1C9F1;
}

.letter-h {
  font-family: "Fredericka the Great", cursive;
  color: #E0BBE4;
  font-size: 2.2rem;
}

.container-projects {
  position: relative;
  margin: auto;
  margin-top: 8%;
  width: 1100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 30px 10px;
}

.container-projects .card {
  position: relative;
  max-width: 300px;
  height: 120px;
  margin: 30px 10px;
  padding: 20px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 10px 10px 50px 50px;
  -webkit-box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
          box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.container-projects .card:hover {
  height: 380px;
}

.container-projects .card-one:hover {
  background: #E0BBE4;
  border: 6px solid #E0BBE4;
}

.container-projects .card-two:hover {
  background: #ACECD5;
}

.container-projects .card-three:hover {
  background: #FFB7B2;
}

.container-projects .card-four:hover {
  background: #A1C9F1;
}

.container-projects .card .imgbox {
  position: relative;
  width: 265px;
  height: 180px;
  top: -60px;
  left: 17px;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: none;
}

.container-projects .card .imgbox img {
  max-width: 100%;
  max-height: 160px;
  border-radius: 50px 50px 10px 10px;
  z-index: 1;
  -webkit-box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
}

.card-one-img {
  border: 6px solid #E0BBE4;
}

.card-two-img {
  border: 6px solid #ACECD5;
}

.card-three-img {
  border: 6px solid #FFB7B2;
}

.card-four-img {
  border: 6px solid #A1C9F1;
}

.container-projects .card .content-projects {
  position: relative;
  margin-top: -140px;
  margin-bottom: 20px;
  padding: 10px 15px;
  text-align: justify;
  color: #000;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

.content-projects h2 {
  text-align: center;
  font-size: 20px;
}

.container-projects .card .content-projects .links {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 30%;
}

.container-projects .card .content-projects .links a {
  text-decoration: none;
  font-weight: bold;
}

.container-projects .card .content-projects .links .fa-github-square,
.container-projects .card .content-projects .links .fa-chrome {
  color: #ff5e53;
  font-size: 2.2rem;
}

.container-projects .card:hover .content-projects {
  visibility: visible;
  opacity: 1;
  margin-top: -70px;
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 5px rgba(255, 255, 255, 0.05);
          box-shadow: inset 0 0 5px rgba(255, 255, 255, 0.05);
  border-radius: 20px;
}

::-webkit-scrollbar-thumb {
  background: #ff5e53;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #ff5e53;
}

.contact-section {
  position: relative;
  margin: auto;
  margin-top: 8%;
  margin-bottom: 2%;
  width: 1240px;
  height: 530px;
  background: none;
}

.loading {
  position: absolute;
  width: 38%;
  height: 4%;
  z-index: 1;
  left: 34%;
  top: 54%;
  background: none;
  border-radius: 50px;
}

.c-load {
  position: absolute;
  width: 4.4%;
  height: 100%;
  border-radius: 50%;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.l-one {
  background: #ACECD5;
  left: 0%;
  -webkit-animation: loading 1s ease infinite alternate;
          animation: loading 1s ease infinite alternate;
}

.l-two {
  background: #FF9AA2;
  left: 8%;
  -webkit-animation: loading 1.2s ease infinite alternate;
          animation: loading 1.2s ease infinite alternate;
}

.l-three {
  background: #E0BBE4;
  left: 16%;
  -webkit-animation: loading 1.4s ease infinite alternate;
          animation: loading 1.4s ease infinite alternate;
}

.l-four {
  background: #FFB7B2;
  left: 24%;
  -webkit-animation: loading 1.6s ease infinite alternate;
          animation: loading 1.6s ease infinite alternate;
}

.l-five {
  background: #ACECD5;
  left: 32%;
  -webkit-animation: loading 1.8s ease infinite alternate;
          animation: loading 1.8s ease infinite alternate;
}

.l-six {
  background: #FF9AA2;
  left: 40%;
  -webkit-animation: loading 2s ease infinite alternate;
          animation: loading 2s ease infinite alternate;
}

.l-seven {
  background: #E0BBE4;
  left: 48%;
  -webkit-animation: loading 2.2s ease infinite alternate;
          animation: loading 2.2s ease infinite alternate;
}

.l-eight {
  background: #FFB7B2;
  left: 56%;
  -webkit-animation: loading 2.4s ease infinite alternate;
          animation: loading 2.4s ease infinite alternate;
}

.l-nine {
  background: #ACECD5;
  left: 64%;
  -webkit-animation: loading 2.6s ease infinite alternate;
          animation: loading 2.6s ease infinite alternate;
}

.l-ten {
  background: #FF9AA2;
  left: 72%;
  -webkit-animation: loading 2.8s ease infinite alternate;
          animation: loading 2.8s ease infinite alternate;
}

.l-eleven {
  background: #E0BBE4;
  left: 80%;
  -webkit-animation: loading 3s ease infinite alternate;
          animation: loading 3s ease infinite alternate;
}

.l-twelve {
  background: #FFB7B2;
  left: 88%;
  -webkit-animation: loading 3.2s ease infinite alternate;
          animation: loading 3.2s ease infinite alternate;
}

.profile-outline-two {
  position: absolute;
  width: 32.5%;
  height: 74.5%;
  top: 15%;
  left: -.5%;
  z-index: 2;
  border-radius: 50%;
  border: 6px double #DFCC74;
  background: none;
  -webkit-animation: rotate 1s ease infinite;
          animation: rotate 1s ease infinite;
}

.profile-outline {
  position: absolute;
  width: 30%;
  height: 69%;
  top: 18%;
  left: 0.8%;
  z-index: 2;
  border-radius: 50%;
  border: 5px dashed #DFCC74;
  background: none;
  -webkit-animation: rotate 1s ease infinite;
          animation: rotate 1s ease infinite;
}

.profile-pic {
  position: absolute;
  width: 28%;
  height: 65%;
  top: 21%;
  left: 2.2%;
  z-index: -2;
  border-radius: 50%;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-image: url("/img/profile-pic.jpg");
  background-position: center;
  background-size: 380px 380px;
}

.mobile-full {
  position: absolute;
  width: 30%;
  height: 100%;
  right: 1%;
  top: 0%;
  z-index: 2;
  background: none;
}

.my-mobile {
  position: absolute;
  width: 78%;
  height: 100%;
  background: #363636;
  left: 13%;
  top: 0%;
  z-index: 1;
  border-radius: 25px;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border: 1px solid #000;
}

.curve {
  position: absolute;
  top: -4.7%;
  left: 43%;
  width: 14%;
  height: 12%;
  background: #363636;
  -webkit-clip-path: polygon(0% 0%, 100% 100%, 0% 100%);
  clip-path: polygon(0% 0%, 100% 100%, 0% 100%);
  -webkit-transform: rotate(-59deg);
          transform: rotate(-59deg);
  border-radius: 1em 1em 1em 3em;
  z-index: 2;
}

.curve-copy {
  position: absolute;
  top: -4.7%;
  left: 47%;
  width: 14%;
  height: 12%;
  background: #363636;
  -webkit-clip-path: polygon(100% 0, 0% 100%, 100% 100%);
  clip-path: polygon(100% 0, 0% 100%, 100% 100%);
  -webkit-transform: rotate(59deg);
          transform: rotate(59deg);
  border-radius: 1em 1em 3em 1em;
  z-index: 2;
}

.front-camera {
  position: absolute;
  width: 6%;
  height: 3%;
  top: 1%;
  left: 48%;
  border-radius: 50%;
  background: #404040;
  z-index: 2;
  border: 1px solid #000;
}

.inner-layer {
  position: absolute;
  width: 94%;
  height: 95.8%;
  background-image: url("https://i.pinimg.com/originals/f4/a7/44/f4a7445edb5d0d7e539ffc1e2e945d26.png");
  background-position: center;
  background-origin: fill;
  background-repeat: no-repeat;
  background-size: 280px 600px;
  left: 3%;
  top: 2%;
  border-radius: 25px;
}

.time:before {
  position: absolute;
  content: '12:07';
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 10px;
  left: 6%;
  top: 0.5%;
}

.battery:before {
  position: absolute;
  content: '100%';
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 10px;
  right: 6%;
  top: 0.5%;
}

.network {
  position: absolute;
  top: 0.5%;
  right: 19%;
  width: 3.8%;
  height: 2.5%;
  background: #fff;
  -webkit-clip-path: polygon(100% 0, 0% 100%, 100% 100%);
  clip-path: polygon(100% 0, 0% 100%, 100% 100%);
}

.four-g {
  position: absolute;
  right: 25%;
  top: 0.8%;
  background: #fff;
  width: 11%;
  height: 2.2%;
}

.four-g:before {
  position: absolute;
  content: 'VoLTE';
  color: #DCDCDC;
  font-family: "Roboto", sans-serif;
  font-size: 8px;
  right: 10%;
  top: 1%;
}

.arrow {
  position: absolute;
  height: 2%;
  width: 4%;
  z-index: 2;
  top: 78%;
  left: 49%;
  -webkit-transform: rotate(224deg);
          transform: rotate(224deg);
  border-style: solid;
  border-color: #fff;
  border-width: 0px 2px 2px 0px;
}

.contact-me-window {
  position: absolute;
  width: 80%;
  height: 7%;
  background: #1a1c20;
  left: 10%;
  top: 40%;
  border-radius: 30px;
}

.contact-me-window:after {
  position: absolute;
  content: 'CONTACT ME';
  font-weight: bold;
  color: #DCDCDC;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  left: 10%;
  top: 18%;
}

.fa-paper-plane {
  position: absolute;
  color: #DCDCDC;
  font-size: 18px;
  top: 18.5%;
  left: 78%;
}

.icon {
  position: absolute;
  color: #DCDCDC;
  font-size: 30px;
  top: 150%;
}

.icon-one {
  left: 10%;
}

.icon-two {
  left: 30%;
}

.icon-three {
  left: 50%;
}

.icon-four {
  left: 70%;
}

.volume-key {
  position: absolute;
  width: 2%;
  height: 13%;
  background: #363636;
  left: 11.5%;
  top: 20%;
  border-radius: 50px;
  z-index: -1;
  border: 1px solid #000;
}

.silent-toggler {
  position: absolute;
  width: 2%;
  height: 8%;
  background: #363636;
  right: 7.2%;
  top: 15%;
  border-radius: 50px;
  z-index: -1;
  border: 1px solid #000;
}

.power-button {
  position: absolute;
  width: 2%;
  height: 10%;
  background: #363636;
  right: 7.2%;
  top: 29%;
  z-index: -1;
  border: 1px solid #000;
  border-radius: 50px;
}

@-webkit-keyframes loading {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  50% {
    opacity: 0;
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  100% {
    opacity: 0.2;
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }
}

@keyframes loading {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  50% {
    opacity: 0;
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  100% {
    opacity: 0.2;
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }
}

@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(5deg);
            transform: rotate(5deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(5deg);
            transform: rotate(5deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

html {
  scroll-behavior: smooth;
}

body {
  background: #222831;
  margin: 0;
  padding: 0;
  font-family: "Balsamiq Sans", cursive;
}

body nav {
  color: #E0BBE4;
  margin: auto;
  width: 85%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
}

body nav span {
  color: #404040;
}

body .container {
  min-width: 1392px;
  width: 100vw;
  height: 100vh;
  background: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

body .container .left {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

body .container .right {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

nav div {
  padding: 20px;
}

nav a {
  color: #88878b;
  padding: 10px;
  position: relative;
  text-transform: uppercase;
  margin-left: 25px;
  text-decoration: none;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  font-weight: bold;
}

nav a::after {
  content: '';
  border-bottom: 3px dotted #e94560;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  -webkit-transform: translateY(10px) scale(1.2);
          transform: translateY(10px) scale(1.2);
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
  height: 100%;
  width: 100%;
}

nav a:hover::after {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
}

nav .special-link .fa-codepen {
  padding: 5px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  font-size: 1.6rem;
}

.active {
  padding: 8px 15px;
  width: 60px;
  height: 20px;
  color: #E0BBE4;
  font-weight: bold;
  border-bottom: 3px dotted #e94560;
}

.myname {
  position: relative;
  width: 70%;
  margin-left: 15%;
  margin-bottom: 18%;
  top: 22%;
  font-size: 4rem;
  font-family: "Secular One", sans-serif;
  color: #fff;
}

.special {
  font-family: "Fredericka the Great", cursive;
  color: #E0BBE4;
  margin-left: 15%;
  margin-bottom: 2%;
  font-size: 6rem;
  font-weight: 400;
  letter-spacing: 8px;
  -webkit-animation: bounceIn 2s forwards;
          animation: bounceIn 2s forwards;
}

.one-liner {
  margin-top: -40px;
  margin-bottom: 15px;
  height: 5%;
  font-size: 3rem;
  border-bottom: 3px dotted #E0BBE4;
}

h4 {
  position: relative;
  margin-left: 15%;
  font-size: 1.5rem;
  font-weight: 400;
  letter-spacing: 2px;
  font-family: "Secular One", sans-serif;
  color: #fff;
}

.social-icons {
  padding: 10px;
}

.social-ul {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0;
  margin: 0;
}

.social-ul li {
  font-size: 2.6rem;
}

.social-ul a {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  text-decoration: none;
  width: 50px;
  height: 50px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 5px 10px;
}

.fa-codepen:hover,
.fa-github:hover,
.fa-linkedin:hover,
.fa-twitter:hover {
  color: #E0BBE4;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.fa-twitter,
.fa-codepen,
.fa-linkedin,
.fa-github {
  color: #fff;
}

footer {
  position: absolute;
  position: fixed;
  right: -6.5%;
  bottom: 24%;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  color: #88878b;
}

footer .fa-heart {
  color: #ff5e53;
}

footer .fa-code {
  color: #fff;
}
/*# sourceMappingURL=main.css.map */
