@import 'config';
@import 'aboutcomponent';

// Left section
.left {
  flex: 1;
}
// Right Section
.right {
  flex: 2;
}
// Introduction part inside Right Section
.intro {
  position: relative;
  width: 90%;
  height: 50%;
  top: 15%;
  margin-left: -5%;
}
.intro p {
  margin-top: 0;
  color: $text-color;
  font-size: 1.2rem;
  font-weight: 550;
  font-family: $text-style-five;
}
// Skill icons
.skills {
  font-size: 55px;
  color: $pastel-light-red;
}
.fa-html5:hover,
.fa-css3-alt:hover,
.fa-js-square:hover,
.fa-git-alt:hover,
.fa-node:hover,
.fa-sass:hover,
.fa-bootstrap:hover {
  transform: scale(1.3) rotate(10deg);
  color: $headphone;
}
// First Letter-H of paragraph
.letter-h {
  font-family: $text-style-two;
  color: $pastel-violet;
  font-size: 2.2rem;
}
