@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&family=Darker+Grotesque&family=Fredericka+the+Great&family=Secular+One&display=swap');

$desktop: 783px;
$mobile: 360px;

$allover-colors: (
  bg-none: none,
  bg-color: #222831,
  pastel-light-red: #FF9AA2,
  pastel-violet: #E0BBE4,
  pastel-green: #ACECD5,
  pastel-peach: #FFB7B2,
  white-color: #fff,
  black-color: #000,
);

$maincomponent-colors: (
  cup-cover: #caabd8,
  headphone: #A1C9F1,
  cup: #f1f1f6,
  cup-after: #f4f3f3,
  top: #e94560,
  brick: #8d93ab,
  wire: #69779b,
  lips: #e76a6a,
  mouth: #1C2833,
  cheeks: #ff9595,
  hair: #17202A,
  laptop-after: #FFDDDD,
  face: rgba(241,194,125,1),
  hair-band: rgb(207,52,22),
  light: linear-gradient(360deg, hsla(39, 47%, 77%, 0) 0%, hsla(39, 47%, 77%, 1) 100%),
  table: linear-gradient(90deg, hsla(14, 47%, 68%, 1) 0%, hsla(0, 16%, 42%, 1) 100%),
  mobile: linear-gradient(90deg, hsla(217, 46%, 89%, 1) 0%, hsla(228, 15%, 61%, 1) 100%),  
);

$aboutcomponent-colors: (
  tomato-red: #ff5e53,
  text-color: #ECF0F1,
  light-grey: #88878b,
);

$contactpage-colors: (
  my-mobile: #363636,
  camera: #404040,
  four-g-color: #DCDCDC,
  inner-window: #1a1c20,
  border-circle: #DFCC74,  
);


// Font Family used
  $text-style-mobile: 'Roboto', sans-serif;
  $text-style-one: 'Balsamiq Sans', cursive;
  $text-style-two: 'Fredericka the Great', cursive;
  $text-style-three: 'Secular One', sans-serif;
  $text-style-four: Impact, sans-serif;
  $text-style-five: 'Darker Grotesque', sans-serif;


@function color-all($color-name-all) {
  @return map-get($allover-colors, $color-name-all);    
}
@function color-main($color-name-main) {
  @return map-get($maincomponent-colors, $color-name-main);    
}
@function color-about($color-name-about) {
  @return map-get($aboutcomponent-colors, $color-name-about);    
}
@function color-contact($color-name-contact) {
  @return map-get($contactpage-colors, $color-name-contact);    
}

//Mixin
@mixin desktop {
  @media (max-width: #{$desktop}) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: #{$mobile}) {
    @content;
  }
}