@import 'config';

.circular-space{
  position: relative;
  width: 500px;
  height: 420px;
  margin: auto;
  margin-top: 22%;
  margin-right: 15%;
  border-radius: 50%;
  background: color-all(pastel-green);
  overflow: hidden;
  animation: backInLeft 1s;
  box-shadow: 0 5px 20px rgba(255,255,255,0.5);
}
.table {
  position: absolute;
  width: 100%;
  height: 20%;
  top: 85%;
  border-radius: 50px;
  background: color-main(table);
  animation: backInUp 5.3s forwards;
}
.wall {
  position: absolute;
  width: 100%;
  height: 58%;
  z-index: 1;
  background: color-all(bg-none);
  top: -1%;
  overflow: hidden;
}
.brick {
  position: absolute;
  width: 18%;
  height: 8%;
  z-index: 2;
  border-radius: 5px;
  background: color-main(brick);
}
.one {
  top: 10%;
  left: 19%;
  animation: backInDown 2s forwards;
}
.two {
  top: 10%;
  left: 39%;
  animation: backInDown 2s forwards;
}
.three {
  top: 10%;
  left: 59%;
  animation: backInDown 2s forwards;
}
.four {
  top: 20%;
  left: 9%;
  animation: backInDown 2.5s forwards;
}
.five {
  top: 20%;
  left: 29%;
  animation: backInDown 2.5s forwards;
}
.six {
  top: 20%;
  left: 49%;
  animation: backInDown 2.5s forwards;
}
.seven {
  top: 20%;
  left: 69%;
  animation: backInDown 2.5s forwards;
}
.eight {
  top: 30%;
  left: -1%;
  animation: backInDown 3s forwards;
}
.nine {
  top: 30%;
  left: 19%;
  animation: backInDown 3s forwards;
}
.ten {
  top: 30%;
  left: 39%;
  animation: backInDown 3s forwards;
}
.eleven {
  top: 30%;
  left: 59%;
  animation: backInDown 3s forwards;
}
.twelve {
  top: 30%;
  left: 79%;
  animation: backInDown 3s forwards;
}
.thirteen {
  top: 40%;
  left: 9%;
  animation: backInDown 3.5s forwards;
}
.fourteen {
  top: 40%;
  left: 29%;
  animation: backInDown 3.5s forwards;
}
.fifteen {
  top: 40%;
  left: 49%;
  animation: backInDown 3.5s forwards;
}
.sixteen {
  top: 40%;
  left: 69%;
  animation: backInDown 3.5s forwards;
}
.seventeen {
  top: 50%;
  left: -1%;
  animation: backInDown 4s forwards;
}
.eighteen {
  top: 50%;
  left: 19%;
  animation: backInDown 4s forwards;
}
.nineteen {
  top: 50%;
  left: 39%;
  animation: backInDown 4s forwards;
}
.twenty {
  top: 50%;
  left: 59%;
  animation: backInDown 4s forwards;
}
.twentyone {
  top: 50%;
  left: 79%;
  animation: backInDown 4s forwards;
}
.twentytwo {
  top: 60%;
  left: 9%;
  animation: backInDown 4.5s forwards;
}
.twentythree {
  top: 60%;
  left: 29%;
  animation: backInDown 4.5s forwards;
}
.twentyfour {
  top: 60%;
  left: 49%;
  animation: backInDown 4.5s forwards;
}
.twentyfive {
  top: 60%;
  left: 69%;
  animation: backInDown 4.5s forwards;
}
.twentysix {
  top: 60%;
  left: 89%;
  animation: backInDown 4.5s forwards;
}
.twentyseven {
  top: 70%;
  left: -1%;
  animation: backInDown 5s forwards;
}
.twentyeight {
  top: 70%;
  left: 19%;
  animation: backInDown 5s forwards;
}
.twentynine {
  top: 70%;
  left: 39%;
  animation: backInDown 5s forwards;
}
.thirty {
  top: 70%;
  left: 59%;
  animation: backInDown 5s forwards;
}
.thirtyone {
  top: 70%;
  left: 79%;
  animation: backInDown 5s forwards;
}
.hang {
  position: absolute;
  width: 1%;
  height: 30%;
  z-index: 4;
  background: color-all(bg-color);
  top: 1%;
  left: 20%;
  animation: fadeInDown 3s forwards;
}
.bulb {
  position: absolute;
  width: 6.5%;
  height: 10%;
  z-index: 4;
  background: color-all(pastel-violet);
  border: 3px solid color-all(bg-color);
  border-radius: 50% 50% 5px 5px;
  top: 30%;
  left: 16.8%;
  animation: fadeInDown 3s forwards;
}
.light {
  position: absolute;
  width: 150%;
  height: 250%;
  background: color-main(light);
  top: 107%;
  z-index: 4;
  left: -25%;
  clip-path: polygon(20% 0%, 80% 0%, 100% 100%, 0% 100%);
  animation: fadeInDown 3s forwards;
}
.poster {
  position: absolute;
  width: 15%;
  height: 23%;
  z-index: 3;
  top: 30%;
  left: 77%;
  background: url('https://i.pinimg.com/originals/27/5b/51/275b51faf0c827c8d0fc8553b8485b85.jpg');
  background-position: center;
  background-origin: fill;
  background-repeat: no-repeat;
  background-size: 100px 200px;
  border-radius: 5px;
  border: 5px solid color-all(bg-color);
  animation: rotateIn
 2s forwards;
}
.laptop {
  position: absolute;
  width: 25%;
  height: 20%;
  border-radius: 10px;
  border: 1.5px solid color-all(black-color);
  background: color-all(pastel-peach);
  top: 62%;
  left: 35%;
  z-index: 4;
  animation: slideInUp
 2.2s forwards;
}
.laptop:after {
  position: absolute;
  content: '';
  width: 60%;
  height: 100%;
  border-radius: 10px 0 0 10px;
  background: color-main(laptop-after);
  left: 0.2%;
  clip-path: polygon(0 0, 100% 0%, 75% 100%, 0% 100%);
}
.laptop-stand {
  position: absolute;
  width: 100%;
  height: 10%;
  border-radius: 10px;
  border: 1.5px solid color-all(black-color);
  background: color-all(pastel-peach);
  top: 100%;
  left: 0.2%;
  z-index: 4;
  animation: slideInUp
 2.2s forwards;
}
.laptop-stand:after {
  position: absolute;
  content: '';
  width: 45.5%;
  height: 100%;
  border-radius: 10px 0 0 10px;
  background: color-main(laptop-after);
  left: 0.2%;
  clip-path: polygon(0 0, 100% 0%, 75% 100%, 0% 100%);
}
.logo {
  position: absolute;
  width: 10%;
  height: 15%;
  z-index: 4;
  border-radius: 50px;
  background: color-all(bg-color);
  top: 49%;
  left: 46%;
}
.cup {
  position: absolute;
  width: 8%;
  height: 12%;
  border-radius: 5px;
  background: color-main(cup);
  clip-path: polygon(20% 0%, 80% 0%, 100% 100%, 0% 100%);
  transform: rotate(180deg);
  top: 73%;
  left: 15%;
  z-index: 3;
  animation: zoomInUp
 2.5s forwards;
}
.cup:after {
  position: absolute;
  content: '';
  width: 45.5%;
  height: 100%;
  border-radius: 0 0 5px 0;
  background: color-main(cup-after);
  left: 53.9%;
  clip-path: polygon(20% 0%, 80% 0%, 100% 100%, 0% 100%);
}
.cup-cover {
  position: absolute;
  width: 200%;
  height: 40%;
  z-index: 3;
  background: color-main(cup-cover);
  bottom: 40%;
  left: 0%;
}
.cup-top-cover {
  position: absolute;
  width: 9%;
  height: 2.5%;
  z-index: 3;
  border-radius: 2px;
  background: color-main(cup-cover);
  top: 71%;
  left: 14.5%;
  animation: zoomInUp
 2.5s forwards;  
}
.cup-top-bump {
  position: absolute;
  width: 5%;
  height: 2%;
  z-index: 3;
  border-radius: 3px 3px 0 0;
  background: color-main(cup-cover);
  top: 69.3%;
  left: 16.5%;
  animation: zoomInUp
 2.5s forwards;
}
.me {
  position: absolute;
  width: 50%;
  height: 60%;
  top: 25%;
  left: 23%;
  background: color-all(bg-none);
  z-index: 3;
  animation: slideInDown
 4.5s forwards;
}
.face {
  position: absolute;
  width: 36%;
  height: 32%;
  top: 8%;
  left: 31%;
  z-index: 3;
  border-radius: 20% 20% 50% 50%;
  background: color-main(face);
}
.hair {
  position: absolute;
  width: 42%;
  height: 40%;
  z-index: 2;
  left: 28%;
  top: -6%;
  background: color-main(hair);
  border-radius: 50%;
}
.band {
  position: absolute;
  width: 27%;
  height: 5%;
  background: color-main(hair-band);
  border-radius: 20px;
  left: 35.5%;
  z-index: 3;
  top: -4.3%;
}
.bun {
  position: absolute;
  width: 42%;
  height: 30%;
  background: color-main(hair);
  border-radius: 50% 50% 45% 45%;
  left: 28%;
  z-index: 2;
  top: -32%;
  overflow: hidden;
}
.flix {
  position: absolute;
  top: 3%;
  z-index: 5;
  transform: rotate(22deg);
  background: color-main(hair);
  border-radius: 10px 50px;
}
.one-f {
  width: 15%;
  height: 8%;
  left: 48%;
}
.two-f {
  width: 10%;
  height: 8%;
  left: 40%;
}
.specs {
  position: absolute;
  width: 30%;
  height: 30%;
  border: 3px solid color-main(hair);
  border-radius: 40% 40% 50% 50%;
}
.left {
  top: 20%;
  left: 10%;
}
.right {
  top: 20%;
  right: 10%;
}
.specs-handle {
  position: absolute;
  width: 20%;
  height: 0.5%;
  top: 23%;
  left: 40%;
  border-top: 3px solid color-main(hair); 
}
.eyes {
  position: absolute;
  width: 15%;
  height: 15%;
  border-radius: 50%;
  border-top: 2px solid color-all(black-color);
}
.left-e {
  top: 33%;
  left: 20%;
}
.right-e {
  top: 33%;
  right: 20%;
}
.mouth {
  position: absolute;
  width: 28%;
  height: 20%;
  top: 60%;
  left: 36.5%;
  background: color-main(mouth);
  border-radius: 2px 2px 50px 50px;
  overflow: hidden;
}
.mouth:after {
  position: absolute;
  content: '';
  width: 100%;
  height: 50%;
  top: 52%;
  border-radius: 50%;
  background: color-main(lips);
}
.cheeks-left {
  position: absolute;
  width: 15%;
  height: 15%;
  border-radius: 50%;
  background: color-main(cheeks);
  top: 48%;
  left: 20%;
}
.cheeks-right {
  position: absolute;
  width: 15%;
  height: 15%;
  border-radius: 50%;
  background: color-main(cheeks);
  top: 48%;
  right: 20%;
}
.neck {
  position: absolute;
  width: 10%;
  height: 15%;
  z-index: 3;
  border-radius: 50px;
  background: color-main(face);
  top: 34%;
  left: 44%;
}
.top {
  position: absolute;
  width: 52.5%;
  height: 50%;
  z-index: 2;
  top: 45%;
  left: 23.6%;
  background: color-main(top);
  border-radius: 30% 30% 10% 10%;
}
.sleeve {
  position:  absolute;
  width: 25.9%;
  height: 15%;
  z-index: 2;
  background: color-main(top);
  top: 55%;
}
.left-sleeve {
  border-radius: 8px 0 0 8px;
  transform: rotate(-45deg);
  left: 13%;
}
.right-sleeve {
  border-radius: 0 8px 8px 0;
  transform: rotate(45deg);
  right: 13%;
}
.hand {
  position: absolute;
  height: 10%;
  background: color-main(face);
  top: 68%;
}
.left-hand {
  width: 20%;
  border-radius: 10px 0 0 10px;
  transform: rotate(-45deg);
  left: 5%;
}
.right-hand {
  width: 22%;
  border-radius: 0 10px 10px 0;
  transform: rotate(45deg);
  right: 5%;
}
.arm {
  position: absolute;
  width: 26.8%;
  height: 10%;
  z-index: 3;
  background: color-main(face);
  clip-path: polygon(0 0, 100% 23%, 100% 78%, 0% 100%);
}
.left-arm {
  top: 78.7%;
  border-radius: 10px 0 0 10px;
  transform: rotate(45deg);
  left: 5%;
}
.right-arm {
  top: 79.7%;
  border-radius: 20px 10px 10px 0;
  transform: rotate(132deg);
  right: 5%;
}
.headphone {
  position: absolute;
  width: 4.5%;
  height: 17%;
  top: 13%;
  z-index: 3;
  background: color-main(headphone);
  border-radius: 10px;
}
.left-h {
  left: 23.3%;
  border-left: 9px solid color-main(hair);
}
.right-h {
  right: 24.9%;
  border-right: 9px solid color-main(hair);
}
.left-c {
  position: absolute;
  width: 60%;
  height: 50%;
  top: 25%;
  z-index: 3;
  border-radius: 50px 0 0 50px; 
  background: color-main(headphone);
  left: -140%;
}
.right-c {
  position: absolute;
  width: 60%;
  height: 50%;
  top: 25%;
  z-index: 3;
  border-radius: 0 50px 50px 0; 
  background: color-main(headphone);
  right: -140%;
}
.headphone-band {
  position: absolute;
  width: 45%;
  height: 40%;
  border-radius: 50%;
  border-top: 7.3px solid color-main(headphone);
  z-index: 5;
  top: -2%;
  left: 26.5%;
}
.notebook {
  position: absolute;
  width: 20%;
  height: 4.7%;
  background: color-all(pastel-light-red);
  top: 79.5%;
  right: 12%;
  border-radius: 20px 5px 5px 20px;
  border: 1.5px solid color-all(black-color);
  animation: lightSpeedInRight
 3s forwards;
}
.mobile {
  position: absolute;
  width: 10%;
  height: 2%;
  background: color-main(mobile);
  top: 77%;
  right: 18%;
  border-radius: 10px 10px 20px 20px;
  border: 1px solid color-all(black-color);
  animation: lightSpeedInRight
 3s forwards;
}
.small-circle {
  position: absolute;
  width: 5%;
  height: 35%;
  border-radius: 50px;
  background: color-all(black-color);
  right: 20%;
  top: 30%;
}
